.app-container {

  width: 100%;

  max-width:
    520px;

  margin: 0 auto;

  min-height:
    var(--app-height);

  background:
    white;

}

.pb-safe {

  padding-bottom:
    env(
      safe-area-inset-bottom
    );

}

.pt-safe {

  padding-top:
    env(
      safe-area-inset-top
    );

}